html {
  height: 100%;
  
}
* {
  font-family: miranafont, "Hiragino Sans GB", STXihei, "Microsoft YaHei", SimSun, sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 2px;
}

body {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: auto;
}
  /* LISTS
  =============================================================================*/
  ul, ol {
    padding-left: 30px;
    li{
      list-style-type: disc;
      margin: 8px 0 0 32px;
    }
  }


  ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0;
  }

  dl {
    padding: 0;
  }

  dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px;
  }

  dl dt:first-child {
    padding: 0;
  }

  dl dt>:first-child {
    margin-top: 0;
  }

  dl dt>:last-child {
    margin-bottom: 0;
  }

  dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
  }

  dl dd>:first-child {
    margin-top: 0;
  }

  dl dd>:last-child {
    margin-bottom: 0;
  }
  /* CODE
  =============================================================================*/

  pre, code, tt {
    font-size: 15px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
  }

  code, tt {
    margin: 0 5px;
    padding: 2px;
    white-space: nowrap;
    color: #c7254e;
    background-color: #f9f2f4;
    border: 1px solid #eaeaea;
    border-radius: 3px;
  }

  pre>code {
    margin: 0;
    padding: 0;
    white-space: pre;
    color: #333;
    border: none;
    background: transparent;
  }

  pre {
    background-color: #f8f8f8;
    border: 1px solid #F9F9F9;
    line-height: 1.5rem;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
  }

  pre code, pre tt {
    background-color: transparent;
    border: none;
  }
  /* QUOTES
  =============================================================================*/

  blockquote {
    border-left: 4px solid #A0DAD0;
    background-color: #ebeef5;
    border-radius: 3px;
    padding: 15px 20px;
    margin: 15px 0;
    color: #777;
  }

  blockquote>:first-child {
    margin-top: 0;
  }

  blockquote>:last-child {
    margin-bottom: 0;
  }

  /* HORIZONTAL RULES
  =============================================================================*/

  hr {
    margin: 24px 0;
    border: none;
    border-bottom: 1px solid #ddd;
    clear: both;
  }

  /* TABLES
  =============================================================================*/
  table{
    margin: 0 auto;
  }
  table th {
    font-weight: bold;
  }

  table th, table td {
    border: 1px solid #ccc;
    padding: 6px 13px;
  }

  table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
  }

  table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }

  /* IMAGES
  =============================================================================*/

  img {
    max-width: 100%
  }
  /* P
  =============================================================================*/
  p{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 26px;
  }

  /**
  =============================================================================*/
  @media (max-width: 800px) {
    ul, ol {
      padding-left: 10px;
      margin: 0;
      li{
        list-style: inside;
        margin: 0;
      }
    }
  }
  h1,h2,h3,h4,h5,h6 {
    color: #4f4f4f;
    margin: 8px 0 16px;
    font-weight: 700;
    position: relative;
    &:hover{
      &:before {
        left: -28px;
        position: absolute;
        content: '「 ';
        color: #ff6d6d;
      }
      &:after{
        //position: absolute;
        content: ' 」';
        color: #ff6d6d;
      }
    }
  }
.app {
  $solidBorder: 1px solid #eee;
  $sideCollapsedWidth: 66px;
  $sideExpandedWidth: 230px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 1em;
  width: 100%;
  height: 100%;
  min-width: 900px;
  border: $solidBorder;
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  &-side {
    width: 230px;
    height: 100%;
    font-weight: 700;
    border-right: $solidBorder;
    &-left {
      background-color: rgb(238, 241, 246);
    }
    &-logo {
      height: 60px;
      text-align: center;
    }
    &-collapsed {
      width: 66px!important;
    }
    &-expanded {
      width: 230px!important;
    }
  }
  &-header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: $solidBorder;
    &-userinfo {
      position: absolute;
      right: 0;
      margin-right: 25px;
      display: flex;
      flex-flow: row nowrap;
      height: 60px;
      justify-content: flex-start;
      align-items: center;
    }
  }
  &-body {
    font-size: 1em;
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-y: scroll;
  }
  &-footer {
    width: 100%;
    height: 60px;
  }
}

.inline-block {
  display: inline-block;
}

